@using WebMVC.Models

<div class="col-lg-7 col-md-7 col-sm-7">
    <form id="newsletter" action="#">
        <h4>Nhận thông tin</h4>
        <input type="text" name="newsletter-email" placeholder="Nhập email của bạn...">
        <input type="submit" name="newsletter-submit" value="Submit">
    </form>
</div>
