@using WebMVC.Models

<style>
    .tp-banner h2, .tp-banner h3, .tp-banner span, .tp-banner span.price{
        color: crimson;
    }
</style>

<section class="slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="/img/job/c.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <h2><strong>Tưng bừng khuyến mãi dịp khai trương</strong></h2>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="140"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <h3>Từ 01/07/2016 đến 01/08/2016!</h3>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <a class="button big red" href="#">Mua ngay</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="/img/job/uong-ruou-dung-cach-2.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <h2><strong>Hennessy<br>Chivas</strong></h2>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="190"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <h3>Giá ưu đãi</h3>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <span>Chỉ từ <span class="price">200.000đ</span></span>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="347"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <a class="button big red" href="#">Mua ngay</a>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="/img/job/237.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <h2>Sản phẩm mới</h2>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="140"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <h3>Đa dạng các loại rượu!</h3>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="250"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <span>Giá từ: <span class="price">200.000đ</span></span>
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout a"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                        <a class="button big red" href="#">Mua ngay</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

