@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_LayoutIndex.cshtml";
}
@{
    ViewBag.Title = "Liên hệ";
}

<style>
    .big{
        background: #34495e;
        height: 40px;
        width: 60px;
        color: white;
    }
</style>

<div class="row" >
    <div class="col-lg-7 col-md-7 col-sm-7">
        @{
            Html.RenderAction("WebInfoPartialView", "FTeam");
        }
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5" id="form-contact">
        @{
            Html.RenderAction("SendContactPartialView", "FTeam");
        }
    </div>
</div>